<div class="row">
  <div class="span12"><h1>Snippets</h1></div>
</div>
<div class="row">
  <% @snippets.each_slice(2) do |snip1, snip2| %>
    <div class="span6">
      <script type="text/javascript" src="https://gist.github.com/<%= snip1.gist_id %>.js"></script>
    </div>
    <% if snip2 %>
      <div class="span6">
        <script type="text/javascript" src="https://gist.github.com/<%= snip2.gist_id %>.js"></script>
      </div>
    <% end %>
  <% end %>
</div>
